.page-header {
    text-align: center;
}

.col-md-8 {
    background-color: #fcfcfc;
    box-shadow: 1px 1px 15px rgb(206, 206, 206, 10);
    border: 1px solid #ebebeb;
    padding-top: 2rem;
    padding-bottom: 6rem;
    border-radius: 0.2rem;
}

label {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "consolas", "微软雅黑";
}

input:placeholder-shown,
textarea:placeholder-shown,
.form-control {
    font-size: 1em;
    font-family: "consolas", "微软雅黑";
    background-color: #ededed;
}

#MDOut {
    margin-top: 1rem;
    box-shadow: 1px 1px 15px rgb(206, 206, 206, 10);
    border: 1px solid #ebebeb;
    font-family: "consolas", "微软雅黑";
    padding: 3%;
    display: none;
}

#MDOut img {
    width: 100%;
    padding: 1%;
}

#MDOut table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 0.2rem 1rem;
}

#MDOut table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    border-bottom: 0;
    text-align: left;
    margin: 0;
    padding: 0.2rem 1rem;
}

.btn-default {
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: "consolas", "微软雅黑";
}

#body {
    border-top-right-radius: 0;
}

.return {
    text-align: center;
}

.panel-title {
    font-weight: 900;
    font-size: 2rem;
}

.panel-body {
    font-size: 1.7rem;
}

.fa-handshake-o:hover {
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
}
